Debug/
Release/
build/
*.bin
*.elf
*.hex
*.map
*.o
*.d
*

.settings/
.cproject
.project
.launch
*.launch

# CubeIDE-generated backup files
*~

# Library and dependencies
libs/
Middlewares/

# Temp & OS files
*.bak
*.tmp
*.log
*.swp
